body {
  display: flex;
  justify-content: center;
}
.QRconatiner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
img {
  width: 200px;
  height: 200px;
}
h1 {
  text-align: center;
}
input {
  margin: 5px;
  border-radius: 10px;
}
input {
  padding: 7px;
  width: 300px;
}
button {
  font-size: 17px;
  padding: 0.5em 2em;
  border: transparent;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  background: dodgerblue;
  color: white;
  border-radius: 4px;
}

button:hover {
  background: rgb(2, 0, 36);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(30, 144, 255, 1)),
    to(rgba(0, 212, 255, 1))
  );
  background: linear-gradient(
    90deg,
    rgba(30, 144, 255, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
}

button:active {
  -webkit-transform: translate(0em, 0.2em);
  -ms-transform: translate(0em, 0.2em);
  transform: translate(0em, 0.2em);
}
* {
  box-sizing: border-box;
}
